.header {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-items>li {
    margin: 10px;
    padding: 10px;
}

.card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.card > img {
    width: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color: rgb(213, 213, 213);
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    animation : shimmer 3s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
}

.shimmer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}